@model Garden_Centre_MVC.ViewModels.Transactions.IndexViewModel

@foreach(Garden_Centre_MVC.Models.TransactionOverview t in Model.Transactions)
{
    <h2>
        @t.ID - @t.DateAndTime.Day/@t.DateAndTime.Month/@t.DateAndTime.Year - £@t.TotalValue
    </h2>
    <div style="border:solid;">
        @foreach (Garden_Centre_MVC.Models.Transaction a in t.Transactions)
        {
            <h2>
                @a.Id - @a.Item.Description - @a.Item.ItemPrice
            </h2>
        }
    </div>
}