@model Garden_Centre_MVC.Models.Item
@{
    //TODO: Add validation
    //TODO: Tidy the form
    //TODO: Discuss the delete option ! What if there is a transaction with that item in ?
}

@Scripts.Render("~/bundles/jqueryval")

<form id="NewItemForm">
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true" id="DescriptionValMessage"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ItemPrice)
        @Html.TextBoxFor(m => m.ItemPrice, new { @class = "form-control" })
        <span class="field-validation-valid" data-valmsg-for="ItemPrice" data-valmsg-replace="true" id="ItemPriceValMessage"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Stock)
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
        <span class="field-validation-valid" data-valmsg-for="Stock" data-valmsg-replace="true" id="StockValMessage"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OnOrder)
        @Html.TextBoxFor(m => m.OnOrder, new { @class = "form-control" })
        <span class="field-validation-valid" data-valmsg-for="OnOrder" data-valmsg-replace="true" id="OnOrderValMessage"></span>
    </div>

    @Html.HiddenFor(m => m.ItemId)

    <button type="submit" title="Save this new item into the inventory !" class="btn btn-primary">Save</button>
    <button type="button" id="newItemClose" title="Discard this new item and close the add item menu !" class="btn btn-primary">Cancel</button>
</form>

<script>
    $(document).ready(function (e) {
        $("#newItemClose").on("click", function (e) {
            $("#Inventory_NewItem").delay(100).slideUp("slow");
        });

        $("#NewItemForm").submit(function (e) {
            e.preventDefault();

            $("#DescriptionValMessage").html("");
            $("#ItemPriceValMessage").html("");
            $("#StockValMessage").html("");
            $("#OnOrderValMessage").html("");

            var onlyPosIntRegExp = RegExp('^([1-9]+\d*)$|^0$');
            var onlyPosFloatRegExp = RegExp('^[0-9]+([.][0-9]{0,2})?$');
            var onlyLettersAndSpaces = RegExp('^[a-zA-Z\s]*$');
            var failed = false;

            if (onlyLettersAndSpaces.test($("#Description").val()) === false)
            {
                $("#DescriptionValMessage").html("<p style=\"color: red\";>Please only use letters and spaces within the item name.</p>");
                failed = true;
            }

            if (onlyPosFloatRegExp.test($("#ItemPrice").val()) === false)
            {
                $("#ItemPriceValMessage").html("<p style=\"color: red\";>Please enter a monitary value greater then zero.</p>");
                failed = true;
            }

            if (onlyPosIntRegExp.test($("#Stock").val()) === false)
            {
                $("#StockValMessage").html("<p style=\"color: red\";>Please enter a whole number greater then or equal to zero.</p>");
                failed = true;
            }

            if (onlyPosIntRegExp.test($("#OnOrder").val()) === false) {
                $("#OnOrderValMessage").html("<p style=\"color: red\";>Please enter a whole number greater then or equal to zero.</p>");
                failed = true;
            }

            if (failed)
                return;

            var form = $("#NewItemForm").serialize();

            $.ajax({
                url: '@Url.Action("NewItemSerialize", "Inventory")',
                data: form,
                datatype: "JSON",
                type: "POST",
                success: function (result) {
                    $("#IndexInv_Feedback").slideUp("slow", "swing", function (e) {
                        $("#IndexInv_Feedback").delay(100).slideDown("slow").html("<h1>Successfully Added The New Item</h1>").delay(3000).slideUp("slow");
                    });

                    $("#Inventory_NewItem").delay(100).slideUp("slow");
                    $("#InventoryContent").html(result);
                }
            });
        });
    });
</script>