@model Garden_Centre_MVC.ViewModels.Transactions.AddViewModel

<h2>Add Transaction</h2>

<form>
    <div class="form-group">
        @Html.LabelFor(m => m.Customers)
        @Html.DropDownListFor(m => m._Customer, new SelectList(Model.Customers, "CustomerId", "FirstName"), "Select Customer", new { @id = "CustomerSelection", @class = "form-control" })
        @Html.ValidationMessageFor(m => m._Customer)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Items)
        @Html.DropDownListFor(m => m._Item, new SelectList(Model.Items, "ItemId", "Description"), "Select Item", new { @id = "ItemSelection", @class = "form-control" })
        @Html.ValidationMessageFor(m => m._Item)
    </div>

    <button id="AddTransaction" class="btn btn-primary">Add</button>
</form>

<div style="border:solid;">
    <h2>Adding</h2>
    @foreach (Garden_Centre_MVC.Models.Item item in Model._Items)
    {
        <h2>@item.Description</h2>
        <br />
    }
</div>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#AddTransaction").on("click", function (e) {
            e.preventDefault();
            $("#ActionView").html("");

            $.ajax(
            {
                type: "POST",
                data: ({ svm: '@Html.Raw(Json.Encode(Model))' }),
                url: '@Url.Action("AddTransaction", "Transactions")',
                success: function (result) {
                    $("#HistoricView").html(result);
                },
                error: function (x, e, r) {
                    alert(e + " " + r);
                    alert(x.responseText);
                }
            });
        });

        $("#CustomerSelection").on("change", (function (e)
        {
            e.preventDefault();
            if ($("#CustomerSelection").val() === '')
            {
                @if (Model._Customer != null)
                {
                    @:alert("Please select a valid customer");
                    @:$("#CustomerSelection").val('@Model._Customer.CustomerId');
                }
            }
            if ($("#CustomerSelection").val() !== '')
            {
                var v = $("#CustomerSelection").val();
                $.ajax(
                    {
                        type: "POST",
                        data: ({ svm: '@Html.Raw(Json.Encode(Model))', id: $("#CustomerSelection").val() }),
                        url: '@Url.Action("AddCustomer", "Transactions")',
                        success: function (result) {
                            $("#ActionView").html(result);
                            $("#CustomerSelection").prop("selectedIndex", v).change(function (e) { this.val(e.val()); e.preventDefault(); });
                            $("#ItemSelection").prop("selectedIndex", '0').change(function (e) { this.val(e.val()); e.preventDefault(); });
                        },
                        error: function (x, e, r) {
                            alert(e + " " + r);
                            alert(x.responseText);
                        }
                    });
                }
            }));

        $("#ItemSelection").on("change", (function (e)
        {
            e.preventDefault();
            if ($("#ItemSelection").val() !== 0)
            {
                $.ajax(
                {
                    type: "POST",
                    data: ({ svm: '@Html.Raw(Json.Encode(Model))', id: $("#ItemSelection").val() }),
                    url: '@Url.Action("AddItem", "Transactions")',
                    success: function (result) {
                        $("#ActionView").html(result);
                        @if (Model._Customer != null)
                        {
                            @:$("#CustomerSelection").prop("selectedIndex", '@Model._Customer.CustomerId').change(function (e) { this.val(e.val()); e.preventDefault(); });
                        }
                        $("#ItemSelection").prop("selectedIndex", '0').change(function (e) { this.val(e.val); e.preventDefault(); });
                    },
                    error: function (x, e, r) {
                        alert(e + " " + r);
                        alert(x.responseText);
                    }
                });
            }
        }));
    });
</script>