@model Garden_Centre_MVC.ViewModels.Transactions.AddViewModel

<!--Form the add view-->
<form>
    <div class="form-group">
        <h2>Customer</h2>
        @Html.DropDownListFor(m => m.transactionOverview.Customer, new SelectList(Model.CustomerList, "CustomerId", "FullName"), "Select Customer", new { @id = "Add_CustomerSelection", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.transactionOverview.Customer)
    </div>

    <div class="form-group">
        <h2>Item</h2>
        @Html.DropDownListFor(m => m.items, new SelectList(Model.ItemList, "ItemId", "Description"), "Select Item", new { @id = "Add_ItemSelection", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.items)
    </div>
</form>
<!--if there are some items in the transaction then display a table summarising these items-->
@if (Model.items.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Item</td>
                <td>Price</td>
                <td>Operations</td>
            </tr>
        </thead>
        <tbody>
            @{
                float fVal = 0.0f;
                int i = 0;
            }

            @foreach (Garden_Centre_MVC.Models.Item item in Model.items)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>£@item.ItemPrice</td>
                    <td>
                        <button btnId="@i" style="background: none; border: none; color:#2c3e50;" class="remBtn btn btn-primary" title="Remove this item from the pending transaction !"><i class="fa fa-remove"></i></button>
                    </td>
                </tr>

                fVal += item.ItemPrice;
                i++;
            }
            <tr>
                <td>Transaction Value:</td>
                <td colspan="2">£@fVal</td>
            </tr>
        </tbody>
    </table>
}

<!--If the customer isnt selected or there are no items dont display the save button-->
@if (Model.transactionOverview.Customer != null && Model.items.Count > 0)
{
    <button id="Add_Save" title="Add and save this transaction to the list of transactions !" class="btn btn-primary">Save</button>
}
<button id="Add_Cancel" title="Discard this new transaction and close the add menu !" class="btn btn-primary">Cancel</button>

<script type="text/javascript">
    $(document).ready(function () {
        //Add listener to the remove button when it is clicked
        $(".remBtn").on("click", function (e) {
            e.preventDefault();
            //Ajax call to controller method
            $.ajax({
                type: "POST",
                data: ({ index: $(this).attr("btnId"), prevVM: '@Html.Raw(Json.Encode(Model))' }),
                url: '@Url.Action("AddRemItem", "Transactions")',
                success: function (result) {
                    //display the updated view
                    $("#Index_AddView").html(result);
                },
                error: function (x, e, r) {
                    alert(e + " " + r);
                    alert(x.responseText);
                }
            });
         });

        //cancel button listener
        $("#Add_Cancel").on("click", function (e) {
            e.preventDefault();
            //if the user hasnt prepeared a valid transaction the just hide it otherwise confirm this was intentional.
            @if (Model.items.Count > 0 && Model.transactionOverview.Customer != null)
            {
                @:bootbox.confirm("Are you sure you would like to cancel this transaction?", function(result) {
                    @:if (result)
                    @:{
                        @:$("#Index_AddView").delay(100).slideUp("slow", "swing", function (e)
                        @:{
                            @:$("#Index_AddView").html("");
                        @:});
                   @:}
                @:});
            }
            else
            {
                @:$("#Index_AddView").delay(100).slideUp("slow", "swing", function (e)
                    @:{
                        @:$("#Index_AddView").html("");
                    @:});
            }
         });

        //save button click listener
        $("#Add_Save").on("click", function (e) {
            e.preventDefault();
            //ajax call to controller method
             $.ajax(
                    {
                        type: "POST",
                        data: ({ prevVM: '@Html.Raw(Json.Encode(Model))' }),
                        url: '@Url.Action("SerializeAdd", "Transactions")',
                     success: function (result) {
                            //display feed back and hide it after three seconds
                            $("#Index_Feedback").slideUp("slow", "swing", function (e) {
                                $("#Index_Feedback").delay(100).slideDown("slow").html("<h1>Successfully Added The Transaction</h1>").delay(3000).slideUp("slow");
                            });
                            //hide the addview
                            $("#Index_AddView").delay(100).slideUp("slow", "swing", function (e)
                            {
                                $("#Index_AddView").html("");
                            });
                            $("#View").html(result);

                        },
                        error: function (x, e, r) {
                            alert(e + " " + r);
                            alert(x.responseText);
                        }
                    });
        });

        //customer selection changed listener
        $("#Add_CustomerSelection").on("change", (function (e)
        {
            e.preventDefault();
            //Check that the customer choice is valid and not "Select Customer" if it isnt a valid choice display an alert and tell the user theyre wrong
            if ($("#Add_CustomerSelection").val() === '')
            {
                @if (Model.transactionOverview.Customer != null)
                {
                    @:alert("Please select a valid customer");
                    @:$("#Add_CustomerSelection").val('@Model.transactionOverview.Customer.CustomerId');
                }
            }
            //otherwise change it in the vm
            if ($("#Add_CustomerSelection").val() !== '')
            {
                var v = $("#Add_CustomerSelection").prop("selectedIndex");
                $.ajax(
                    {
                        type: "POST",
                        data: ({ prevVM: '@Html.Raw(Json.Encode(Model))', customerId: $("#Add_CustomerSelection").val() }),
                        url: '@Url.Action("SelectCustomer", "Transactions")',
                        success: function (result) {
                            //disp the updated view
                            $("#Index_AddView").html(result);
                            //make sure the customer selected is set to the one selected in vm
                            $("#Add_CustomerSelection").prop("selectedIndex", v).change(function (e) { this.val(e.val()); e.preventDefault(); });
                            //reset the item selected to "select item"
                            $("#Add_ItemSelection").prop("selectedIndex", '0').change(function (e) { this.val(e.val()); e.preventDefault(); });
                        },
                        error: function (x, e, r) {
                            alert(e + " " + r);
                            alert(x.responseText);
                        }
                    });
                }
            }));

    //listener when item selection changed
    $("#Add_ItemSelection").on("change", (function (e)
    {
        e.preventDefault();
        //if the item is valid add it
        if ($("#Add_ItemSelection").val() !== 0)
        {
            $.ajax(
            {
                type: "POST",
                data: ({ prevVM: '@Html.Raw(Json.Encode(Model))', itemId: $("#Add_ItemSelection").val() }),
                url: '@Url.Action("AddItem", "Transactions")',
                success: function (result) {
                    $("#Index_AddView").html(result);
                    var x = -1;
                    //set the customer to the one that is selected in vm
                    $("#Add_CustomerSelection" + " option").each(function (index, element) {
                        if (element.value === '@Model.transactionOverview.CustomerId') {
                            x = index;
                            return;
                        }
                    });

                    @if (Model.transactionOverview.Customer != null)
                    {
                        @:$("#Add_CustomerSelection").prop("selectedIndex", x);
                    }
                    //reset the selected item to "Select Item"
                    $("#Add_ItemSelection").prop("selectedIndex", '0').change(function (e) { this.val(e.val); e.preventDefault(); });
                },
                error: function (x, e, r) {
                    alert(e + " " + r);
                    alert(x.responseText);
                }
            });
        }
    }));
});
</script>