@model Garden_Centre_MVC.ViewModels.Transactions.ExtendedViewModel

<h2>@Model.TransactionOverview.ID - @Model.TransactionOverview.Transactions[0].Customer.FullName - @Model.TransactionOverview.DateAndTime.Day/@Model.TransactionOverview.DateAndTime.Month/@Model.TransactionOverview.DateAndTime.Year - £ @Model.TransactionOverview.TotalValue</h2>
<table class="table table-bordered table-hover" id="transactionTable">
    <thead>
        <td>Item</td>
        <td>Item Value</td>
    </thead>
    <tbody>
        @foreach (Garden_Centre_MVC.Models.Transaction t in Model.TransactionOverview.Transactions)
        {
            <tr>
                <td>@t.Item.Description</td>
                <td>£ @t.Item.ItemPrice</td>
            </tr>
        }
    </tbody>
</table>
<button id="ExtClose" class="btn btn-primary">Close</button>

<script>
    $(document).ready(function () {
        $("#ExtClose").on("click", function (e) {
            $("#ExtendedView").delay(100).slideUp("slow");
        });
    });
</script>