@model Garden_Centre_MVC.ViewModels.Transactions.HistoricViewModel
@{
    //TODO: Fix the table row disapearing try to animate it
    //TODO: Sort the padding on the exteneded view
    //TODO: Implement a smooth change between view and edit for the same transaction
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Transaction Number</td>
            <td>Date</td>
            <td>Customer</td>
            <td>Total Value</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Garden_Centre_MVC.Models.TransactionOverview to in Model.TransactionOverviews)
        {
            <tr>
                <td>@to.TransactionNumber</td>
                <td>@to.Date</td>
                <td>@to.Customer.FullName</td>
                <td>@to.TotalValue</td>
                <td>
                    <button transactionNumber="@to.TransactionNumber" class="viewBtn btn btn-primary">View</button>
                    <button transactionNumber="@to.TransactionNumber" class="editBtn btn btn-primary">Edit</button>
                    <button transactionNumber="@to.TransactionNumber" class="delBtn btn btn-primary">Delete</button>
                </td>
            </tr>
            <tr id='@("Historic_DropDownViewTR"+@to.TransactionNumber)' style="display:none; padding:0px;">
                <td id='@("Historic_DropDownViewTD"+@to.TransactionNumber)' colspan="5">
                    <div id='@("Historic_DropDownView"+@to.TransactionNumber)' hidden="hidden">

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    var prevOpenedTN = '0';
    $(document).ready(function () {
        $(".viewBtn").on("click", function (e) {
            e.preventDefault();
            var transactionNumber = $(this).attr("transactionNumber");
            $.ajax(
            {
                type: "POST",
                data: ({ _transactionNumber: transactionNumber }),
                url: '@Url.Action("ExtendedView", "Transactions")',
                success: function (result) {
                    $("#Historic_DropDownViewTR" + transactionNumber).attr("style", "display:table-row;");
                    $("#Historic_DropDownView" + transactionNumber).delay(100).slideDown("slow").html(result);

                    if (prevOpenedTN !== '0' && prevOpenedTN !== transactionNumber) {
                        $("#Historic_DropDownView" + prevOpenedTN).delay(100).slideUp("slow", "swing", function (e) {
                            $("#Historic_DropDownViewTR" + prevOpenedTN).attr("style", "display:none;");
                            prevOpenedTN = transactionNumber;
                        });
                    }
                    else
                    {
                        prevOpenedTN = transactionNumber;
                    }

                },
                error: function (x, e, r) {
                    alert(e + " " + r);
                    alert(x.responseText);
                }
            });
        });

        $(".editBtn").on("click", function (e) {
            e.preventDefault();
            var transactionNumber = $(this).attr("transactionNumber");

            $.ajax(
            {
                type: "POST",
                data: ({ _transactionNumber: transactionNumber }),
                url: '@Url.Action("EditView", "Transactions")',
                success: function (result) {
                    $("#Historic_DropDownViewTR" + transactionNumber).attr("style", "display:table-row;");
                    $("#Historic_DropDownView" + transactionNumber).delay(100).slideDown("slow").html(result);

                    if (prevOpenedTN !== '0' && prevOpenedTN !== transactionNumber) {
                        $("#Historic_DropDownView" + prevOpenedTN).delay(100).slideUp("slow", "swing", function (e) {
                            $("#Historic_DropDownViewTR" + prevOpenedTN).attr("style", "display:none;");
                            prevOpenedTN = transactionNumber;
                        });
                    }
                    else
                    {
                        prevOpenedTN = transactionNumber;
                    }

                },
                error: function (x, e, r) {
                    alert(e + " " + r);
                    alert(x.responseText);
                }
            });
        });

        $(".delBtn").on("click", function (e) {
            e.preventDefault();
            var transactionNumber = $(this).attr("transactionNumber");

            $.ajax(
            {
                type: "POST",
                data: ({ _transactionNumber: transactionNumber }),
                url: '@Url.Action("DeleteTransaction", "Transactions")',
                success: function (result) {
                    $("#View").html(result);
                },
                error: function (x, e, r) {
                    alert(e + " " + r);
                    alert(x.responseText);
                }
            });
        });
    });
</script>