@model Garden_Centre_MVC.ViewModels.AccountViewModels.ForgotPasswordViewModel

@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")




@using (Html.BeginForm("Index", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email)

        @Html.EditorFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeId)

        @Html.EditorFor(m => m.EmployeeId, new { @class = "form-control" })
    </div>


    <button type="submit">Send</button>
}
