@*//Billy Mumby*@

@{
    Layout = "";
}

@model Garden_Centre_MVC.ViewModels.AccountViewModels.RegisterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    <a href="/Account/Index" style="text-decoration: none;"><h1 style="margin-bottom: 20px; color: lightskyblue" align="center">Garden Centre <i class="fa fa-plus-circle"></i></h1></a>
<div class="container body-content">
    <div id="CenteredDiv" align="center">

        <div class="jumbotron">

            <h2 style="margin-bottom: 10px;">Register</h2>

            @using (Html.BeginForm("RegisterForm", "Account", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.EmployeeNumber)

                    @Html.TextBoxFor(m => m.EmployeeNumber, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.EmployeeNumber)
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Email)

                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password)

                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ReTypePasssword)

                    @Html.PasswordFor(m => m.ReTypePasssword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.ReTypePasssword)
                </div>

                <button type="submit" class="btn btn-primary">Register</button>

                <br/>
            }

        </div>
    </div>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Garden Centre <i class="fa fa-plus-circle"></i></p>
    </footer>
</div>

</body>
</html>








