@model Garden_Centre_MVC.ViewModels.AccountViewModels.ResetPasswordViewModel


<form id="ResetPasswordForm">

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.ReTypePassword)
        @Html.PasswordFor(m => m.ReTypePassword)
        @Html.ValidationMessageFor(m => m.ReTypePassword)
    </div>
    
    <button type="submit">Reset</button>
</form>