@model Garden_Centre_MVC.ViewModels.CustomerViewModels.CustomerFormViewModel

<form id="EmployeeForm">
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.FirstName)
        @Html.TextBoxFor(m => m.Customer.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.SecondName)
        @Html.TextBoxFor(m => m.Customer.SecondName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.CustomerNumber)
        @Html.TextBoxFor(m => m.Customer.CustomerNumber)
    </div>
    
    

</form>
