@model Garden_Centre_MVC.Models.Customer

<h4 style="margin-bottom: 10px;">Customer Form</h4>

<form id="CustomerForm">
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
        <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true" id="CustFirstNameVal"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SecondName)
        @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SecondName)
        <span class="field-validation-valid" data-valmsg-for="SecondName" data-valmsg-replace="true" id="CustSecondNameVal"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine1)
        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AddressLine1)
        <span class="field-validation-valid" data-valmsg-for="AddressLine1" data-valmsg-replace="true" id="CustAddressLine1Val"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine2)
        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AddressLine2)
        <span class="field-validation-valid" data-valmsg-for="AddressLine2" data-valmsg-replace="true" id="CustAddressLine2Val"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PostCode)
        @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PostCode)
        <span class="field-validation-valid" data-valmsg-for="PostCode" data-valmsg-replace="true" id="CustPostCodeVal"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button id="CloseCustomerForm" class="btn btn-default">Close</button>

</form>
